body {
    background: #5f9ea0;
    font-family: Verdana;
    max-width: 900px;
    margin:auto;
    background-image: url(../Site/Slide1.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

.photo{
    border-radius: 50px;
}

#title, .subtitle, .post_title {
    color:rgb(255, 255, 255);
    text-align: center;
}

.alinhamento img{
    float: left;
    margin-right: -60px;
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

.post {
    background: #f2f5f562;
    padding: 60px;
    border: 3px solid #f2f5f562;
    margin-bottom: 20px;
    border-radius: 10px;
}

.container img{
    float: left;
    margin-right: 20px;
}

.container p{
    width: 300px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: initial;
    text-align: justify; 
    font-family: Times New Roman;
    font-size: 17px;
    display: inline-block;
}

.post_image, p{
    margin-bottom: 15px;
    display: inline-block;
}

.contacts_list{
    display: block;
    list-style-type: none;
    padding-left: 400px;
}

.contacts_list li a{
    color: black;
}